.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid purple;

    h1 {
      color: purple;
    }

    a {
      margin-left: 16px;
      text-decoration: none;
      padding: 6px;
      
        &:hover {
          color: purple;
        }
    }
}

.homelinks {
  margin-left: auto;
}