@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  font-family: "Playfaire";
  color: black;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid purple;
}
.navbar h1{
  color: purple;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: purple;
}

.homelinks{
  margin-left: auto;
}

input{
  margin: 5px;
}
.search-input{
  width: 300px;
  height: 25px;
  border-radius: 50px;
  border: 1.5px solid black;
  padding-left: 10px;
}

.button{
  width: 100px;
  height: 32px;
  border: 2px solid purple;
  border-radius: 50px;
  background-color: white;
}
.button:hover{
  background-color: purple;
  color: white;
}

.content{
  max-width: 800px;
  margin: 40px auto;
}

.bookcard{
  margin-top: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(246, 240, 246);
}

.bookcard button{
  margin-top: 5px;
  width: 150px;
  height: 32px;
  border: 2px solid purple;
  border-radius: 50px;
  background-color:  rgb(246, 240, 246);
}

.bookcard button:hover{
  background-color: purple;
  color: white;
}

.bookcard img{
  width: 50px;
  height: auto;
}


footer{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

